<head>
    <title>AnimeFest/GameFest Cosplay Contest Management System - Detail View - Check-in Staff View</title>
</head>
<body>
<center><h1>AnimeFest/GameFest Cosplay Contest Management System - Detail View - Check-in Staff View</h1></center>

<h2><p style="color:red;"><b>Check-in Instructions For Volunteer Staff</b></h2>
<ul>
    <li>Ask contestant for their <b>COSPLAY NAME.</b>  (Do not use their legal name.)
    <li>Locate the contestant's entry under their <b>COSPLAY NAME.</b>  Click on the link to take you to their details.
    <li>Verify the details of their entry is correct, and click on "Update and Check-in".  This will assign them an internal division number if they don't already have one.
    <li>Mark the back of their badges with a label with their division and internal division number.
    <li>If the contestant has a judging time, remind them of their judging time.
    <li>Remind the contestant on when to show up to rehearsal.
</ul>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<form method="post">{% csrf_token %}    
    {% buttons %}    
    {% bootstrap_form form size='large' %}    
    <input type="submit" value="Print Stickers For Contestant">
    {% endbuttons %}
</form>
</body>
