<head>
    <title>AnimeFest/GameFest Cosplay Contest Management System - Detail View - Check-in Staff View</title>
</head>
<body>
<center><h1>AnimeFest/GameFest Cosplay Contest Management System - Detail View - Check-in Staff View</h1></center>

<h2><p style="color:red;"><b>Check-in Instructions For Volunteer Staff</b></h2>
<ul>
    <li>This will print out the desired number of labels.</li>
    <li>Mark the back of their badges with a label with their division and internal division number.
    <li>If the contestant has a judging time, remind them of their judging time.
    <li>Remind the contestant on when to show up to rehearsal.
    <li>This will print out one extra label.  Put the last label on a index card for the emcee.</li>
</ul>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<form method="post">{% csrf_token %}    
    {% buttons %}    
    {% bootstrap_form form size='large' %}    
    <input type="submit" value="Print Stickers For Contestant">
    {% endbuttons %}
</form>
</body>
